body {
background-color: #1A1A1A;
}
.positionTopImg {

}
.positionBottomImg {

}
.mainWrap {
	display:none;
	min-height: 630px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.mainContent {
	display: flex;
    align-items: center;
    justify-content: center;
    width: 720px;
    margin: auto;

}
.contentText {
	    width: 320px;
	     margin:0 16px;
}
.contentImgBox {
	margin: 0 16px;
}
.contentText h1{
	color:#fff;
	font-size: 36px;
	font-weight: bold;
}
.contentText p{
	color:#E7E7E7;
	font-size: 16px;
	font-weight: bold;
}
.contentImg {
	width:300px;
	transition: all 0.45s;
}
.contentImg:hover {

}
.buttonBlock {
	display: flex;
	width:100%;
	justify-content: flex-end;
}
.button {
	border:2px solid #DB4365;
	color:#fff;
	font-weight: 500;
	padding: 4px;
	text-decoration: none;;
	transition: all 0.25s;
	border-radius: 8px;
	text-transform: uppercase;
	font-size: 12px;
}
.button:hover {
	color:#DB4365;
}
.mainContent {
	position: relative;
	width: 100%;
}
.mainContent:before {
		height: 250px;
	width: 70%;

	content: "";
	display: block;
	position: absolute;
	top: -120px;
	left: 10px;
    background: linear-gradient(to right, #28289A, #1B1564);
    border: 1px solid #333;
    z-index: -1;
    border-radius: 0 0 0 5px;
    border:1px solid #171740;
clip-path: polygon(0% 0%, 75% 0, 100% 64%, 100% 100%, 0% 100%);
}
.mainContent:after {

	height: 250px;
	content: "";
	display: block;
	width: 30%;
	position: absolute;
	bottom:-130px;
	right: 10px;
    background: linear-gradient(to left, #28289A, #1B1564);
    border: 1px solid #333;
    z-index: -1;
    border-radius: 0 0 0 5px;
    border:1px solid #171740;
	clip-path: polygon(50% 0%, 100% 0, 100% 100%, 37% 100%, 0 5%, 0 0);
}
  .contentImgBox:hover {
        align-self: flex-end;
        animation-duration: 2s;
        animation-iteration-count: infinite;
        transform-origin: bottom;
    }
    .contentImgBox {
        animation-name: bounce-1;
        animation-timing-function: linear;
    }
    @keyframes bounce-1 {
        0%   { transform: translateY(0); }
        50%  { transform: translateY(-50px); }
        100% { transform: translateY(0); }
    }

    @media only screen and (max-width: 768px) {
    	.mainContent {
    		flex-wrap: wrap;
    	}
    	.buttonBlock {
    		justify-content: center;
    	}
    	.contentImgBox {
animation-name:none;
    	}
    }