table{font-size: 40px;}
tr.kent{background:rgb(146, 112, 112)}
tr.zu{background: rgb(5, 100, 107)}
.inp{
    width: 150px;
    background-color: rgb(185, 204, 204);
    color: rgb(184, 144, 34);
    border:none;
    border-radius: 7px;
}
.inp_2{
    width: 150px;
}
td{width: 200px;}
.vide{
    background-color: bisque !important;
}
/* tr:first-child { 
    background-color: aquamarine;
  } */
  .first{background: burlywood}
  .btn-danger{
    margin-left: 70px; 
      
  }
  table{color:greenyellow}