body {
	background-color: red;
	display: none;
}
.mainWrap {
	display:none;
	height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.mainContent {
	display: flex;
    align-items: center;
    justify-content: center;
    width: 720px;
    margin: auto;
}
.contentImgBox {
	width:300px;
}