*{
	margin:0;
	padding:0;
}

.header{
	width: 100%;
	height: 700px;
	background-image: url("g1.jpeg");
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-size: 100%;
	position: relative;
}
@media(min-width:620px) and (max-width: 820px){
	body{
		max-width: 600px;
		background-color: blue;}
}
.size{width: 1366px;
margin:0 auto;
position: relative;}
.size>.fa {
	color:white;
	font-size: 40px;
	margin-left: 100px;
	margin-top: 70px;
}
.font{
	font-family: Times;
	color:white;
	font-size: 40px;
	margin-left: 20px;
}
.size .fir>.show{
	color:white;
	float: left;
	list-style-type: none;
	font-size: 20px;
	margin-left: 40px;
	
	
}
/*.sec{text-decoration: none !important;}*/
.size .fir>.show:hover{
	text-decoration: underline #600024 ;
}
.size .fir{
	position: absolute;
	top:82px;
	left:450px;
}
.icons{
	width: 200px;
	position: absolute;
	top: 80px;
	right: 60px;
}
.icons>i{
	color: white;
	float: left;
	font-size: 18px;
	margin-left: 18px;

}
.icons>a{
	text-decoration: none;
	color: white;
	float: left;
	font-size: 18px;
	margin-left: 10px;
	padding: 6px 8px;

}
.icons>a:hover{
	
	border-radius: 50%;
	background-color: #600024;
}


.title{
	width: 700px;
	margin:0 auto;
	position: relative;
	top:200px;
	left: -180px;
}
.big{
	font-size: 55px;
	color: white;
}
.small{
	color:white;
	font-size: 25px;

}

.title>button{
	border:1px solid #600024;
	color:white;
	padding: 20px 45px;
	border-radius: 30px;
	margin-top: 80px;
}
.rig{
	margin-left: 90px;
	background-color: #6000240d;
}
.lef{
	background-color: #600024;
}
.rig:hover{
	background-color: white;
	color:black;
	border:1px solid white;
}
.lef:hover{
	background-color: white;
	color:black;

}
.muj{
	color:grey;
	text-decoration: none !important;
	list-style-type: none;
	background-color: white;
	font-size: 17px;
	padding-left: 30px;
	padding-top: 5px;
	padding-bottom: 5px;
	display: none;
}
.muj:hover{
	background-color: #600024;
	color:white;
}
.show:hover .muj{
	display: block;
}
.titi{
	width: 1366px;
	height: 600px;
	margin:0 auto;

}
.titi>img{
	float:left; 
	margin-top: 70px;
	margin-left: 130px;
}
.our{
	float: right;
	width: 500px;
	margin-top: 140px;
	margin-right: 120px;
}

.jr{
	font-size: 40px;
}
.fr{
	color:grey;
	font-size: 17px;
	line-height: 2.3em;
}
.clear{
	clear: both;
}
.gdd{
	width: 1366px;
	height: 800px;
	margin:auto;
	background-image: url("gd.jpg");
	background-attachment: fixed;
	background-size: 100%;
	background-repeat: no-repeat;
	position: relative;
}
.xx{width: 500px;
	height: 500px;
	color:white;
	font-size: 40px;
	position: absolute;
	top:300px;
	left: 600px;
}
.xx>.lef{
	border:1px solid #600024;
	color:white;
	padding: 20px 45px;
	border-radius: 30px;
	margin-top: 80px;

}
.xx>.lef:hover{color: black;}

.klor{
	width: 1366px;
	height: 600px;
	margin: auto;
}
.klor>h1{
	text-align: center;
	font-size: 45px;margin-top: 80px;
}
.kr{
	float: left;
	margin-left: 100px;
	margin-top: 50px;

}
.kr>img{
	border-radius: 50%;
	box-shadow: 0px 6px #600024;
}
.kcc{
	font-size: 25px;
	text-align: center;
	margin-top: 30px;
}
.koc{
	color: grey;
	margin-top: 20px;
	line-height: 1.9em;
	font-size: 17px;
}
.Gallery{
	width: 1350px;
	height: 450px;
	background-color: #e3e2e4;
	margin: auto;
	margin-top: 80px;

}
.Gallery>h2{
	text-align: center;
	font-size: 45px;
	position: relative;
	top:100px;


}
.acn{
	width: 350px;
	height: 150px;
	float: left;
	margin-left: 90px;
	margin-top: 150px;

}
.acn>i{
	font-size: 80px;
	color: #600024;
}
.asa{
	font-size: 20px;
	color: black;
}
.acn>p{
	float: right;
	color: grey;
	line-height: 1.5em;
}
