<!--The content below is only a placeholder and can be replaced.-->
<!-- <div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
  <img width="300" alt="Angular Logo" src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg==">
</div>
<h2>Here are some links to help you start: </h2>
<ul>
  <li>
    <h2><a target="_blank" rel="noopener" href="https://angular.io/tutorial">Tour of Heroes</a></h2>
  </li>
  <li>
    <h2><a target="_blank" rel="noopener" href="https://github.com/angular/angular-cli/wiki">CLI Documentation</a></h2>
  </li>
  <li>
    <h2><a target="_blank" rel="noopener" href="https://blog.angular.io/">Angular blog</a></h2>
  </li>
</ul> -->
<div class="container">
  <div class="row">
    
  <div class="http">
 User name <input type="text" [(ngModel)]="userName">
 <button (click)='search()'>Search</button>
 <div *ngIf='response'>
   <img width="300" src="{{response.avatar_url}}">
   <p>Name:{{response.login}}</p>
   <p>Biography:{{response.bio}}</p>
   <p>Created:{{response.created_at}}</p>

       </div>
       </div>  
     </div>
 
 
<br/><br/>

<br/>
 <!-- Ayl ejer gnalu hamar  ^ii -->

<h2>norutyun</h2>
<button (click)='hider()'>JQuery</button>
  <nav> <h1> Routing</h1>
   <a routerLink="">Glxavor</a><br/>
   <a routerLink="/about">Mer masin</a><br/>
   <a routerLink="/news">Norutyunner</a><br/>
   <a routerLink="/district">Shrjanner</a><br/>
   <a routerLink="/date">Himnakan Ashxatanq</a><br/>
   <a routerLink="/price">Gner</a><br/>
   </nav>
  <button (click)='see()'>POST Server</button>
   <router-outlet></router-outlet>
    <input type='login' [value]="pipe | uppercase" />
<br><br>


    <button (click)="loadCars()">Load Cars</button><br>
    <button (click)='addCar()'>Add Car</button> <br><br>
    <button (click)='EditCar()'>Edit Car</button> <br><br>
    <input type='text' placeholder="car Name" [(ngModel)]='carName' /><br>
    <input type='text' placeholder="car Color" [(ngModel)]='carColor' /><br>
    <ul *ngFor='let avto of cars'>
      <ol >{{avto.id}}</ol>
      <ol>{{avto.name}}</ol>
      <ol [ngStyle]='{color:avto.color}'>{{avto.color}}</ol>
    </ul>
    

 </div>



