h2{color: violet}
.first{
	font-size: 28px;
}
.but2{color: coral}
.class1{
	color: gold;
}
.par{font-size: 40px;color: blue}
.vide{display: none}
.yellow{background-color: yellow}
#inp{background-color: red}
.lili{margin-top: 15px;}
.eve{
	color: rgb(0, 255, 179);
}
.zuyg{color: rgb(224, 17, 197)}