.btn-top{
     display: none;
	position: fixed;
	bottom: 20px;
	right: 40px;
	z-index: 99;
	border: none;
	outline: none;
	background-color: #585364;
	color: #04A349;
	cursor: pointer;
	padding: 15px 40px;
	border-radius: 10px;
	font-size: 25px;
}
.one{background-color: black;
padding: 2px;
}
.header{
	padding: 20px;

}
.MyName{
	color: silver;
	cursor: pointer;
}
.MyName:hover{
	color: white;
}
/*.a11>a>i:not(:first-child){
    color: silver;
	margin-left: 20px;

}*/
.a{
	position: relative;
}

.sp1{
	color: silver;
	cursor: pointer;
	padding-bottom:  5px;


}
.sp1:hover{
	color: white;
	border-bottom:  solid white;
}
.f{
	/*display: none;
	position: absolute;
	top:20px;
	right:250px;*/
	text-align: center;
}
.two{
	background: linear-gradient(45deg, black,#37B3DD );
	padding: 150px;
}
.Devel{
	color: #57EEA1;
}
.Hi{
	color: silver;
	cursor: pointer;
}
.Hi:hover{color:#57EEA1; }
.texno{
	color: black;
	margin: 2px auto;
}
.article{
	margin-top: 100px;
}

.a33>img{
	border-radius: 50%;
}
.a4>div:hover{
	
	
	box-shadow: 5px 10px 18px #888888;
}
.a4>div>img{
	margin: 50px;
	width: 150px;
	height: 150px;
}
.a6{
	padding: 100px;
}
.a6>div>h1,.a6>div>h4{
	text-align: center;
}
.a7>div{
	cursor: pointer;
}
.a8{
	padding-top: 125px;
}
.a8>div>h1>strong{color: #2D8DF6;}
.a9>div>a>i{
	font-size: 50px;
	color: white;
	margin-left: 25px;
}
.a9>div>p{color: silver;}
.a9{padding: 100px;
background-color: #292C33;
margin-top: 50px;
}
.a10{
	padding: 20px;
	background-color: #1D1E25;
}
.a10>div>h4{text-align: center;}
.MyName_2{color: #3AE2CE;}
@media screen and (max-width: 768px){
	.f{display: block;}
	.block{display: none;}
}
.face:hover{color: #4267B2;}
.insta:hover{color: #C133A4;}
