*{
	margin:0;
	padding: 0;
}
#loka{
	margin:0px auto;
	width: 1360px;
	overflow:hidden;
}


	.l {
	width: 1366px;
	height: 82px;
	background-color: #3B5998;
	color:white;
	float:left;
}
.fb {
	float: left;	
	width: 170px;
    height: 34px;
	margin-left: 180px;
	margin-top: 24px;
	font-size: 20px;
	margin-right: 0px;
}
.ko {
	float: right;

	margin-right: 190px;
	margin-top: 2px;

	}
	.k{
		width: 150px;
		margin:5px;
		padding-top: 0px;
		margin-top: 0px;

	}
input[type="button"]{
	background-color: #4267B2;
	color:white; 
	border:1px solid grey ;
}
.j:hover{
	background-color:#3B5998;
}
.oo {
	font-size: 14px;
	padding-top: 8px;
}
.cc {
	color: #5FA0D8;
}
.grey {
	background-color: #E8EBF3;
	width: 1366px;
	height:670px;
}
.adiv {
	width: 700px;
	float: left;
	text-align: center;
	margin-left: 50px;
	margin-top: 50px;
}
.ff {
	width: 500px;
	margin-right: 0px;
	margin-left: 120px;
}
img{
	width: 537px;
	height: 195px;
	margin-left: 30px;

}
.bdiv {
	float: right;
	width: 605px;
	height: 700px;
	margin-top: 20px;
	
}
.text{
    border: 1px solid grey;
    padding: 10px 10px;
    border-radius: 4px;
    margin-top: 20px;
    margin-right: 10px;
}
.bb {
	font-size: 39px;
}
.rmail{
	border: 1px solid grey;
    padding: 12px 220px 8px 10px;
    border-radius: 4px;
    margin-top: 20px;
    margin-right: 10px;
}
.newpass{
	border: 1px solid grey;
    padding: 12px 220px 8px 10px;
    border-radius: 4px;
    margin-top: 20px;
    margin-right: 10px;
}
span {
	font-size: 20px;
}
a {
	color:#4267B2;
	font-size: 14px;
	text-decoration: none;
	display: inline-block;
	 }
	 a:hover {
    text-decoration: underline;
}

	 select {
	 	padding: 5px;
        
	 }
	 .aaa{
	 	width: 300px;
        margin-left: 0px;
        margin-top: 0px;
	 }
.trtr {
	font-size: 12px;
	text-align: left;
}
	.asdf {
		width: 200px;
		height:40px;
		background-color: #598E46;
		color:white;
		font-size:20px;
		border-radius: 8px;
		text-align: center;
		border:1px solid grey;
	}
	.mm {
		color:#4267B2;
		font-size: 16px;
	} 
	.nnn {
		margin-left: 200px ;
	}